$main-font: 'Baloo Bhaijaan', cursive;
$sub-font: 'PT Sans', sans-serif;
$brown: #784212;
$purple: #5B2C6F;
$black: #17202A;
$red: #CB4335;

.brown {
    background-color: $brown;
}

.purple {
    background-color: $purple;
}

.black {
    background-color: $black;
}

.red {
    background-color: $red;
}

h1 {
    font-family: $main-font;
    color: $purple;
}

li {
    list-style: none;
    color: $purple;
}
