$white: #ffffff;
$tan: #b38600;
$green: #009933;
$blue: #003366;
$black: #000000;
$purple: #cc33ff;

$main-background-color: $white;
$background-color: $purple;
$color-item-border: $tan;
$color-media-head: $green;
$main-font-color: $black;
$button-color: $blue;
$active-button-color: $green;
