.home-button {
    width: 100px;
    margin: 2px;
}
.orbit-image {
    width: 1000px;
}

.logo {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-medium {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}