html {
    height: 100%
}

body {
    background-color: hotpink;
    margin: 0px;
    height: 100%;
}

header {
    background-color: darkred;
    padding: 15px;
    color: yellow;
}

header ul {
    display: flex;
    flex-flow: row;  
}

header li  {
   padding: 10px;
}

header p {
    padding-top: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: auto;
    padding: 25px;
    min-height: 850px;
}

.title {
    background-color: blue;
    color: white;
    border-color: chocolate;
    height: 45px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.intro {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    
}

.logo {
    width: 250px;
    padding-left: 72px;

}

/*
Mr. Jenkins' belly
*/


.slideshow1 {
    display: flex;
    width: 828px;
    flex-flow: row-reverse;
}


.slideshow1 ul {
    padding: 0;
    margin: 0;
    display: flex;   
   
}


#jenkins-main-pic {
   width: 768px;
   height: 99%;
  
  
}

/*main-pic ul*/

.image-selection-option1 {
    display: flex;
    flex-flow: column;    
}

.image-selection-option1 li {
    display: flex;
    flex-flow: column;
 
}

.slideshow1 img {
    width: 70px;
    padding: 2px;
   
}

.image-selection-option1 li :hover {
    cursor: pointer;
}

.image-selection-option1 li :onkeydown  {
    cursor: alias;
    
}

.image-selection-option1 li :onkeypress  {
    cursor: alias;
}

.image-selection-option1 li :onkeyup {
    cursor: alias;
}

/*A Way to Understand*/

.slideshow2 {
    display: flex;
    width: 828px;
    flex-flow: row;
}

.slideshow2 ul {
    padding: 0;
    padding-left: 14px;
    margin: 0;    
}

.image-selection-option2 li {
    padding: 2px;
}

#understand-main-pic {
   width: 421px;
   height: 99%;
}

.slideshow2 img {
    width: 70px;
     
}

.image-selection-option2 li :hover {
    cursor: pointer;
}

.image-selection-option2 li :onkeydown  {
    cursor: alias;
    
}

.image-selection-option2 li :onkeypress  {
    cursor: alias;
}

.image-selection-option2 li :onkeyup {
    cursor: alias;
}

/*Space hierarchy*/

.slideshow3 {
    display: flex;
    width: 828px;
    flex-flow: column;
}


.slideshow3 ul {
    padding: 0;
    margin: 0;   
}

#space-main-pic {
   width: 768px;
   height: 99%;
  
}

/*main-pic ul*/

.image-selection-option3 {
    display: flex;  
}

.image-selection-option3 li {
    display: flex;
    flex-flow: column;
 
}

.slideshow3 img {
    width: 70px;
    padding: 2px;
   
}

.image-selection-option3 li :hover {
    cursor: pointer;
}

.image-selection-option3 li :onkeydown  {
    cursor: alias;
    
}

.image-selection-option3 li :onkeypress  {
    cursor: alias;
}

.image-selection-option3 li :onkeyup {
    cursor: alias;
}

footer {
    background-color: darkred;
    min-height: 100px;
    padding: 15px;
    color: white;

}

a:link {
    color: yellow;
    text-decoration-line: none;
}

a:visited {
    color: yellow;
    text-decoration-line: none;
}

a:hover {
    color: lawngreen;
    text-decoration-line: none;
}

a:active {
    color: lawngreen;
    text-decoration-line: none;
}

li {
    list-style: none;
}

