.mdl-layout__content {
    margin: 36px;
}

.logo {
    width: 74px;
}

.demo-card-wide.mdl-card {
  width: 1300px;
}

.demo-card-wide. > .mdl-card__title {
    height: 700px;
    width: 1200px;
     color: white;
}

.mdl-card__title-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-effect {
    margin: 15px;
}
.demo-list-item {
  width: 300px;
}
.demo-card-wide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-button {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.contact-chip {
    display: flex;
    flex-flow: column;
    width: 163px;
}

.contact-chip li {
   margin: 15px;
}

button {
    background: none;
    border: none;
}

.message-box {
    display: flex;
    flex-flow: row;
    border: 1px solid purple;
    padding: 5px;
    width: 200px;
    margin-left: 52px;
}
div.gallery1 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery1:hover {
    border: 1px solid #777;
}

div.gallery1 img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
.message-us {
    display: flex;
    flex-flow: column;
    width: 500px;
}
