body {
   background-color: mintcream;
    margin: 0px;
    height: 100%;
}
#king-header {
/*d:f*/
    display: flex;
    flex-flow: row;
    height: 100px;
    width: 100%;
    border: solid 5px purple;
/*ai:c*/
    align-items: center;
    justify-content: center;
/*c*/
    color: purple;
/*bgc*/
    background-color: gold;
    font-family: sans-serif;
}
.menu-bar ul{
        display: flex;
        flex-flow: row;
}

.menu-bar li {
        padding: 15px;
    }
main {
    color: black;
    margin-bottom: auto;
    padding: 25px;
    min-height: 550px;
}

li {
    list-style: none;
}

.character-image {
    width: 155px;
    height: 385px;
}
.box {
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
@keyframes change-color {
    0% {background-color: red;}
    16% {background-color: orange;}
    46% {background-color: yellow;}
    60% {background-color: green;}
    75% {background-color: blue;}
    90% {background-color: purple}
    100% {background-color: red;}
}

.box-rainbow {
    background-color: red;
    animation-name: change-color;
    animation-duration: 4s;
}

@keyframes box-move-left {
    from {left: 0px;}
    to {left: 200px;}

}
    
.box-left {
    background-color: red;
    animation-name: box-move-left;
    animation-duration: 4s;
    animation-delay: 2s;
}
    
@keyframes box-move-right {
    from {left: 300px;}
    to {left: 200px;}

}
    
.box-right {
    background-color: mediumpurple;
    animation-name: box-move-right;
    animation-duration: 4s;
    animation-delay: 2s;
    left: 300px;
    
}

@keyframes repeat-animation {
    0% {left: 0px;}
    50% {left: 200px;}
    100% {left: 0px;}
}

.ball {
    background-color: red;
    animation-name: repeat-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}

.slideshow {
    display: flex;
    width: 300px;
}

#rollover {
   width: 384px;
   height: 99%;
   flex: 1;
  
}

.slideshow ul {
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
    height: 277px;
    justify-content: space-between;
    padding-left: 5px;
   
}

#rollover li {
    display: flex;
    flex: 1;
    flex-flow: column;
    
}

.image-selection-option li :hover {
    cursor: pointer;
}

.image-selection-option li :onkeydown  {
    cursor: alias;
    
}

.image-selection-option li :onkeypress  {
    cursor: alias;
}

.image-selection-option li :onkeyup {
    cursor: alias;
}


.slideshow img {
    width: 59.3px;
}

.row {
    display: flex;
    flex-flow: row;
    border: solid 5px purple;
    padding: 5px;
}
.row ol {
    padding: 5px;
}

.reverse-row {
    display: flex;
    flex-flow: row-reverse wrap;
    border: solid 5px purple;
    padding: 5px;
}

.reverse-row ol {
    padding: 5px;
}

.column {
    display: flex;
    flex-flow: column;
    border: solid 5px purple;
    padding: 5px;
}

.column ol {
    padding: 5px;
}

.reverse-column {
    display: flex;
    flex-flow: column-reverse;   
    border: solid 5px purple;
    padding: 5px;
}

.reverse-column ol {
    padding: 5px;
}

.flex-box {
    width: 100px;
    border: solid 2px purple;
}

/* unvisited link */
a:link {
    color: purple;
    text-decoration: underline;
}

/* visited link */
a:visited {
    color: purple;
    text-decoration: underline;
}

/* mouse over link */
a:hover {
    color: darkblue;

}

/* selected link */
a:active {
    color: darkblue;
}

footer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    border: solid 5px purple;
    color: purple;
    background-color: gold;
    font-family: sans-serif;
}
