body {
    margin: 0px;
}

ul {
    list-style: none;  
}

li {  
    list-style: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
   flex-flow: column; 
}

.logo {
    width: 85px;
    height: 120px;
    padding-top: 15px;
    
}

.nav-bar ul {
    display: flex;
    padding: 0px;
    margin: 0;
    padding-top: 45px;
    
}

.nav-button {
    background-color: black;
    width: 100px;
    height: 45px;
    border-radius: 15px;
    margin-left: 5em;        
    font-size: 1.3em;
    color: black;
    
}

.active-nav-button {
    background-color: #006600;
    width: 100px;
    height: 45px;
    border-radius: 15px;
    margin-left: 5em;        
    font-size: 1.3em;
}

.nav-bar  {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    
}

/*Banners*/

.banner {
    background: linear-gradient(to right, #996600, #006600);
    color: #ffff99;
    border: solid black;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    height: 85px;
    border-width: 4px 0;
    padding: 4px 16px;
}

.menu-column {
    column-count: 3;
    column-gap: 15px;
    column-rule: 1px solid #006600;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    
}

.menu-column li {
    flex: 1;
    padding-left: 36s;
    padding-right: 36px;
    
}

/*Text*/

h1{
    font-family: Gloria Hallelujah; 
    font-size: 2.5em;
}

h2 {
    font-family: Mv Boli;  
    font-size: 2em;
}

h3 {
    font-family: Calibri;
    font-size: 1.3em;
}

p {
    font-family: Times new roman;
    font-size: 1em;
    flex: 1;
}

/*link information*/

a:link {
    color: #ffff99;
    text-decoration-line: none;
}

a:visited {
    color: #ffff99;
    text-decoration-line: none;
}

a:hover {
    color: #ffffe6;
    text-decoration-line: none;
}

a:active {
    color: #ffffe6;
    text-decoration-line: none;
}
.slogan {
    color: #006600;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
}
.grumpy-bruno {
    width: 400px;
    height: 350px;
}

.owners {
    width: 400px;
    height: 350px;
}
.medium-sized-image {
    height: 196px;
    width: 230px;
}

.jumbotron {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 25px;
    height: 700px;
    width: 800px;
}
/*words*/
.menu-title {
    color: #006600;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
}
.about-text {
    width: 500px;
    text-align: left;
    text-indent: 50px;
}

.app {
   width: 80px;
    height: 80px;
    color: #ffff99;
    background-color: #996600;
    border-radius: 5px;
    padding-left: 28px;
}