.mdl-layout__content {
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 74px;
}

.demo-card-wide.mdl-card {
  width: 1500px;
}
.demo-card-wide > .mdl-card__title {
  height: 164px;
  width: 311px;
  background: url('assets/logo.png') center / cover;
}
.margin-effect {
    margin: 15px;
}
.demo-list-item {
  width: 300px;
}
.demo-card-wide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-button {
    display: flex;
    justify-content: center;
    align-items: center;  
}
